<!DOCTYPE html>
<html>
  <head>
    <title>Victorianhouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Varela+Round&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div>
      <h1 class="logo">Victorian<br> House</h1>
      
      <ul class="main-nav">
        <li><a href="#">Lookbook</a></li>
        <li><a href="#">Journal</a></li>
      </ul>
      <ul class="sub-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <p>408 E. Main St.,<br>   
        Mahomet, Il 61853</p>
      <a href="tel:217-586-4834"><p>217-586-4834</p></a>
      <%= image_tag "fb.png", :class=>"social-icon" %>
      <%= image_tag "pinterest.png", :class=>"social-icon" %>
      <%= image_tag "instagram.png", :class=>"social-icon" %>
      <br>
      <%= image_tag "visa.png", :class=>"payment-icon" %>
      <%= image_tag "mastercard.png", :class=>"payment-icon" %>
      <%= image_tag "amex.png", :class=>"payment-icon" %>
      <%= image_tag "discover.png", :class=>"payment-icon" %>
      <br>
      <p class="subscript">Copyright © 2020 Victorian House.</p>
      </div>
    </nav>
    <main>
    <%= yield %>
    </main>
  </body>
</html>


